[Unit]
Description=Deployment for Slack Connector
Requires=config.service
After=config.service

[Service]
User=core
Type=oneshot
ExecStartPre=-/usr/bin/docker kill slack-connector-deploy
ExecStartPre=-/usr/bin/docker rm slack-connector-deploy
ExecStartPre=-/usr/bin/docker pull hoist/connector-slack:master
ExecStart=/usr/bin/docker run -h slack-connector-deploy --name slack-connector-deploy -e "ROOT_CONNECTOR_DIR=/shares/connectors" --volumes-from config -P hoist/connector-slack:master
ExecStop=/usr/bin/docker stop slack-connector-deploy
ExecStopPost=-/usr/bin/docker kill slack-connector-deploy
ExecStopPost=-/usr/bin/docker rm slack-connector-deploy
TimeoutStartSec=30m

[X-Fleet]
MachineMetadata=container_type=web
